#board{
	
	background: black;
	height: 48vw;
	width: 48vw;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.box{
	background-color: grey;
	width: 14vw;
	height: 14vw;
	margin: 1vw;
	/* padding: auto; */
}

.box p {
	position: relative;
	color: white;
	text-align: center;
	top: 50%;
	transform: translateY(-150%);
	font-size: 8vw; 
}

#title {
	text-align: center;
}
